
body{

 background-image: url("..fundoinicial/");

}
   
.logo img{

position: absolute;
top: 10%;
left: 600em;
z-index: 3;
    

}
  
.divinicial{

background-color: blue;



}
